html {
    --fontColor: rgb(0, 250, 250);

    font-size: 20px;
    color: var(--fontColor);
}

body {
    background-color: rgb(13, 98, 58);
}

a:link,
a:visited {
    color:rgb(44, 97, 31);
    text-decoration: none;
}
a:hover {
    color: rgb(63, 143, 43);
}
a:active {
    color: rgb(65, 173, 38);
}