{% extends 'main/base.html' %}

{% load static %}
{% load main.utils %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href={% static 'main/index.css' %}/>
{% endblock head %}

{% block js %}
    <script src={% static 'main/index.js' %}></script>
{% endblock js %}

{% block content %}
    {% regroup variants by type as types_list %}
    <nav class="types">
        <ul>
        {% for type in types_list %}
            <li class="type">{{ type.grouper|model }}
            <ul>
            {% for variant in type.list %}
                <li>
                    {{ variant|model }}
                </li>
            {% endfor %}
            </ul>
            </li>
        {% endfor %}
        {% for type in empty_types %}
            <li class="type">{{ type|model }}</li>
        {% endfor %}
        </ul>
    </nav>
    <div style="clear: both;"></div>
    <div id="info"></div>
{% endblock content %}
