{# context need "placeholder", "url" #}

{% block content %}

    <form method="POST" action={% url url %}>
        {% csrf_token %}
        <div>
            <label>Nazwa:<input name="name" placeholder={{ placeholder }} value={{ name_value|addslashes }}></label>
        </div>
        {% block interior %}{% endblock interior %}
        <div>
            <label>Notatka<textarea name="note">{{ note_value }}</textarea></label>
        </div>
        <input type="submit" value="Zatwierdz">
    </form>
    
{% endblock content %}

