{% extends 'main/infoBase.html' %}

{% block content %}
    {% with url=url|default:'broker:newVariant' placeholder="Odmiana" %}
        {{ block.super }}
    {% endwith %}
    
{% endblock content %}

{% block interior %}

    <div>
        <label>Gatunek:
            <select name="type">
                {% for type in types %}
                    <option value="{{ type.id }}" {% if variant.type.id == type.id %}selected{% endif %}>{{ type.name }}</option>
                {% endfor %}
            </select>
        </label>
    </div>

{% endblock interior %}

