harvests[-1] = null;
{% for harvest in harvests %}
    harvests[{{harvest.id }}] = new HarvestTime('{{ harvest.title|safe|addslashes }}', '{{ harvest.start|date:'d-m-Y' }}', '{{ harvest.end|date:'d-m-Y' }}');
{% endfor %}

{% for tree in trees %}
    trees.push(new Tree({{ tree.id }}, '{{ tree.variant.type.name|safe|addslashes }}', '{{ tree.variant.name|safe|addslashes }}', {{ tree.latitude }}, {{ tree.longitude }}, harvests[{{ tree.variant.harvest_time.id|default:"-1" }}]));
    {% if forloop.first %}
        if (map) centerMap();
    {% endif %}
{% endfor %}
setTimeout(initTrees, 1);