{% extends 'base.html' %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href={% static 'orchardMap/map.css' %}/>
{% endblock head %}

{% block js %}
    <script src={% static 'Utils.js' %}></script>
    <script src={% static 'orchardMap/Tree.js' %}></script>
    <script>
        function decodeHtmlEntities(str) {
            return String(str).replace(/\&lt;/g, '<').replace(/\&gt;/g, '>').replace(/\&quot;/g, '"').replace(/\&#x27;/g, '\'').replace(/\&amp;/g, '&');
        }

        const mapUrl = '{{ request.scheme }}://{{ request.get_host }}{{ request.path }}';
        const treeDeleteUrl = "{% url 'broker:deleteTree' 0 %}"; {# need id on end #}
        const treeNewUrl = "{% url 'orchardMap:newTree' %}"; {# need coords on end #}
        const treeMarkerUrl = "{% static 'orchardMap/img/treeMarker.png' %}";
        const treeMoveUrl = "{% url 'broker:editTreeMove' %}";

        const trees = [];
        const filters = {{ filter|safe }};
        const type_filters = {{ type_filters|safe }};

        for (let i=0; i < type_filters.length; i++)
            type_filters[i] = decodeHtmlEntities(type_filters[i]);
        for (let key in filters) {
            let variants = filters[key];
            delete filters[key];
            key = decodeHtmlEntities(key);
            filters[key] = variants;

            for (let key in variants) {
                let variant = variants[key];
                delete variants[key];
                key = decodeHtmlEntities(key);
                variants[key] = variant;
            }
        }

    </script>
    <script src={% static 'orchardMap/map.js' %}></script>
    <script async src={% url 'orchardMap:trees' %}></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap"></script>
{% endblock js %}

{% block body %}
    <div id="map"></div>
    <aside id="filters_container">
        <h2>Filtry</h2>
        <div id="filters"></div>
        <input class="link" type="button" id="get_filters_link" value="Udostępnij"></input>
        <input class="center" type="button" id="center_button" value="Wyśrodkuj"></input>
    </aside>
{% endblock body %}