{% extends 'orchardMap/treeForm.html' %}

{% block tableBody %}
    <tr>
        <td>
            Czas zbioru:
        </td>
        <td>
            {{ tree.variant.harvest_time.title|default:"brak informacji" }}
        </td>
    </tr>
    {{ block.super }}
{% endblock tableBody %}


{% block action %}{% url 'broker:editTree' %}{% endblock action %}

{% block type %}
    <input name="type" value="{{ tree.variant.type.name }}">
{% endblock type %}

{% block preIn %}
    <input type="hidden" name="id" value="{{ tree.id }}">
{% endblock preIn %}

{% block variant %}
    <input name="variant" value="{{ tree.variant.name }}">
{% endblock variant %}


{% block plantedTitle %}Zasadzono{% endblock plantedTitle %}
{% block planted %}
    <input name="planting_data" type="date" value="{{ tree.planting_data|date:"Y-m-d" }}">
{% endblock planted %}

{% block note %}
    <textarea  name="note">{{ tree.note }}</textarea>
{% endblock note %}

{% block submit %}
    <input type="submit" value="Zapisz">
{% endblock submit %}

{% block post %}
    <div class="buttons">
        <button class="move">Przesuń</button>
        <button class="copy">Kopiuj</button>
        <button class="delete">Usuń</button>
    </div>
{% endblock post %}