#container {
    margin-top: 180px
}

.foreignKey {
    color: rgb(21, 255, 0);
    font-size: 1.2rem;
    text-align: center;
}
/*
 * =====
 *  nav
 * =====
 */
nav.types {
    position: absolute;

    top: 3vh;
    left: calc((100vw - 1200px) / 2);
    
    display: block;
    width: 1200px;
    height: 72px;
    background-image: url("/static/main/cloud.png");
    background-size: 100px;
}

nav.types > ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
nav.types > ul > li {
    float: left;
}
nav.types > ul > li > ul {
    display: none;
    list-style: none;
    padding: 0;
}
nav.types > ul > li:hover > ul {
    display: inherit;
}
nav.types > ul > li > ul > li {
    padding: 5px 20px;
    background-color: rgb(197, 197, 206);
    border-top: 1px rgb(164, 164, 172) dotted;
}
nav.types > ul > li > ul > li:last-child {
    border-bottom: 1px rgb(164, 164, 172) dotted;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}



/* 
 * ======
 *  info
 * ====== 
 */
#infoContainer {
    position: relative;

    width: 350px;
    height: 350px;
    
    margin: 50px auto;
    padding: 75px;

    background-image: url("/static/main/window.png");
    background-size: 100%;
    background-repeat: no-repeat;

    color: black;
}
#info {
    overflow: auto;

    height: 100%;
    width: 100%;
}

#info h3 {
    margin: 0;
    margin-bottom: 10px;
}


#info input[type="button"] {
    padding: 5px 20px;
    font-size: .8rem;
}

#info input.edit {
    display: block;
    margin-top: 20px;

    border-radius: 10px;
    color: rgb(68, 71, 68);
    border: 1px rgb(34, 33, 33) solid;
    background-color: rgb(84, 156, 72);
    opacity: .9;
}
#info input.edit:hover {
    background-color: rgb(108, 199, 92);
    cursor: pointer;
}

#info input.delete {
    position: absolute;
    right: 50px;
    bottom: 25px;

    color: white;
    border: 1px rgb(34, 33, 33) solid;
    background-color: rgb(92, 8, 8);
    border-radius: 20px;
}
#info input.delete:hover {
    background-color: rgb(155, 53, 53);
    cursor: pointer;
}


#info form label {
    margin-bottom: 10px;
}
#info form label > input {
    width: 200px;
    padding: 5px;
    margin-left: 10px;
    background: #00000010;
    border: none;
    border-radius: 90px;
    font-size: 1rem;
}
#info form label > textarea {
    padding: 5px;
    width: calc(100% - 10px);
    height: 5rem;
    resize: vertical;
}
#info form input[type="submit"] {
    width: 80%;
    padding: 8px 0;
    margin-left: 10%;
    margin-top: 30px;

    font-size: .9rem;


    border-radius: 10px;

    background-color: rgb(61, 184, 39);
}
#info form input[type="submit"]:hover {
    background-color: rgb(73, 219, 47);
    cursor: pointer;
}
#info form label > select {
    font-size: .8rem;
}


/*
 * =====
 *  new
 * =====
 */
#new {
    position: absolute;

    bottom: 0;
    left: 20px;

    background-image: url("/static/main/sign.png");
    background-size: 100%;
    width: 300px;
    height: 200px;
}
#new .links {
    width: 160px;
    height: 65px;

    margin-top: 65px;
    margin-left: 70px;
}
#new .links a input {
    width: 100%;
    height: 45%;

    font-size: .8rem;
    color: rgb(255, 255, 255);

    background: transparent;
    border: none
}
#new .links a input:hover {
    cursor: pointer;
}

#new .links a:hover input {
    color: rgb(65, 45, 8);
}


/*
 * ==============
 *  harvestTimes
 * ==============
 */
ol#harvestTimes {
    list-style: none;
    padding: 0;
}