#background {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 100vh;

    background-image: url("/static/main/background.jpg");
    background-size: 100%;
    filter: blur(8px);

    z-index: -10;
}

#container {
    width: 1200px;

    margin: 0 auto;
}