#map {
    position: absolute;

    left: 0;
    top: 0;

    z-index: -1;

    width: 100vw;
    height: 100vh;
}

#filters_container {
    position: absolute;
    
    right: 0;
    top: 5vh;
    height: 75vh;
    
    min-width: 200px;
    max-width: 20vw;

    background: #22772288;
    color: var(--fontColorLight);

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    padding: 10px 15px;

    border: 1px rgb(59, 54, 54) solid;
}

#filters_container > h2 {
    margin-top: 0;
    text-align: center;
}

#filters_container > input {
    position: absolute;

    height: 30px;
    width: calc(45% - 2px);

    bottom: 10px;
    padding: 0;

    font-size: .8rem;
    color: rgb(255, 255, 255);

    background-color: royalblue;
    border-radius: 10px;
    border:1px rgb(22, 82, 22) solid;
}
#filters_container > input:hover {
    background-color: rgb(79, 123, 255);
    cursor: pointer;
}
#filters_container > input.center {
    left: 4.5%;
}
#filters_container > input.link {
    right: 4.5%;
}


#filters {
    overflow: auto;

    margin-bottom: 50px;
}

#filters ol {
    list-style: none;
    margin: 0;
    padding: 0px
}

#filters ol.types > li {
    margin-bottom: 5px;

    min-height: 20px;
}
#filters ol.types > li > ol > li{
    padding-left: 25px;
}

#filters button {
    background: transparent;
    
    border: 1px thistle solid;
    border-radius: 90px;

    background: #ffffff40;

    width: 20px;
    height: 20px;

    font-size: 12px;

    text-align: center;

    opacity: .8;
}
#filters button:hover {
    opacity: 1;
    cursor: pointer;
}

#filters label {
    margin-left: 5px;
}


#filters input[type="checkbox"] {
    appearance: none;
}
#filters input[type="checkbox"]::after {
    content: "X";
    color: rgb(255, 1, 1);

    opacity: .8;
}
#filters input[type="checkbox"]:checked::after {
    content: "\2713";
    color: rgb(8, 255, 29);
}


#filters label:hover [type="checkbox"]::after {
    opacity: 1;

}
