#treeInfo {
    font-size: .8rem;
}

#treeInfo table {
    color: black;
    text-align: center;
    column-span: 0;
}
#treeInfo input,
#treeInfo textarea,
#treeInfo select {
    width: 200px;
    font-size: .8rem;
}
#treeInfoContainer .buttons {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
#treeInfoContainer button {
    width: 30%;
}